* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #140246;
  text-shadow: black 0.1em 0.1em 0.2em;
  /* color: #bdee0b; */
}
/* h1:hover{
  color: #140246;
  cursor: pointer;
  text-shadow: black 0.1em 0.1em 0.2em;
} */
body {
  background-image: linear-gradient(to right, #ca664d, #feb47b, #08307a, #91eae4);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

form {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(85, 11, 170, 0.1);
  max-width: 700px;
  width: 100%;
  padding: 20px;
}

fieldset {
  border: none;
  margin-bottom: 20px;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  color: #140246;
  margin-bottom: 10px;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  color: #62466d;
}

input[type="text"],
input[type="email"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #bdee0b;
  border-radius: 5px;
  font-size: 0.95em;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

input[type="file"] {
  padding: 8px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #2b0557;
  color: rgb(214, 190, 190);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  color: black;
  background-image: linear-gradient(to right, #ca664d, #feb47b, #08307a, #91eae4); 
   
}
.hidden {
  display: none;
}


@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  form {
    padding: 15px;
  }

  legend {
    font-size: 1.1em;
  }

  label, input, button {
    font-size: 0.9em;
  }
}

















